/* Add overwrites as needed so that the content 
of the editor field is attractive and not broken */



body {
	padding: 0; 
	background:#ffffff; 
	font-family: 'Open Sans', sans-serif; 
} 

p{
	font-size: 14px;
	color:#333333;
}

blockquote{
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway",sans-serif;
}

h1 {
  font-size: 36px;
}

h1, h2, h3, h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;  
}

ul, 
ol {
  padding: 10px;
  position: relative;
  padding-left: 20px;
  margin-left: 20px;
}

ul li,
ol li {
  color: #798992;
  font-size: 15px;
  line-height: 25px;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: #2f2f2f;
  font-weight: bold;
}

a:hover{
  color: #646464;
  text-decoration: none;
}

.alignleft{float:left;margin-left:0px}	
.aligncenter{display:block;margin:10px auto}	
.alignright{float:right;margin-left:10px}
.wp-caption-text,
.wp-caption{  
	margin: 5px 0px 5px 0px;font-style: italic;
}